* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#canvas {
    aspect-ratio: 16 / 9;
    width: 60vw;
    border: 2px solid black;
}

body {
    border: 2px solid black;
    width: 90vw;
    height: 100vh;
    margin: auto;
}

.options {
    border: 2px solid red;
    width: 60vw;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.colors {
    width: 50%;
    height: 100%;
    border: 2px solid blue;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 4px;
    
}

.thickness{
    border: 2px solid green;
    width: 30%;
    height: 100%;
}

input[type="range"]{
    width: 100%;
}

.colors > div{   
    aspect-ratio: 1 / 1;
    padding: 2px;
    border: 2px solid gray;
}

.colors > div > div{
    aspect-ratio: 1 / 1;
    pointer-events: none;
}

.colors > div:hover{
    border-color: #0d8bf3; 
    box-shadow: 0 0 6px #0d8bf3;
}