@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* ===== RESET ===== */
* {
  box-sizing: border-box;
  font-family: 'Inter', 'Times New Roman';
  margin: 0;
  padding: 0;
}

/* ===== VARIABLES ===== */
:root{
    --div-background-color: #fafafa;
    --primary-border: 2px solid #CAD6E3;
    --primary-border-radius: 12px;
    --primary-box-shadow: 0 0 20px rgba(0,0,0,.08);
    --primary-gap: 8px; /*24px; DESKTOP */
    --primary-padding: 8px;
    --canvas-height: calc(var(--canvas-width) * 9/16);
    --canvas-width: 91%;/*55vw; DESKTOP*/
    --paint-options-height: calc(var(--canvas-height) / 4.7);
    --you-player-background: #2563EB;
    --you-player-text-color: white;
    --other-player-background-color: #F0F1F4;
    --other-player-text-color: #111827;
}

/* ===== GENERAL STYLES ===== */
html{
    background-color: antiquewhite;
}

h1{
    font-size: 1.2rem;
}

h2{
    font-size: 1rem;
}

label{
    font-size: .7rem;
    text-align: center;
}

body {
    align-items: center;
    background-color: #F6F7FA;
    box-shadow: var(--primary-box-shadow);
    display: grid;
    place-content: center;
    margin: auto;
    width: 100%; /*85vw;*/
    min-height: 100vh;
}

.app-layout{
    display: flex;
    flex-direction: column;
    align-items: center; /*mobile */
    min-height: 100vh;/* MOBILE */
    gap: var(--primary-gap);/*MOBILE */
    padding-bottom: var(--primary-gap);
}

.header{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: var(--primary-padding) 0 0 0; /* 16px; DESKPTOP */
    height: auto;
    width: var(--canvas-width);
}

.app-layout__middle{
    display: flex;
    flex-direction: column;
    /*flex: 1;              /* caused a glitch basis overrides height so i think .chat 100% was indefinite*/
    min-height: 0;        /* important: allows children to actually grow/shrink instead of overflowing */
    align-items: center;
    gap: var(--primary-gap);
}

.paint{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    min-height: 0;
    gap: var(--primary-gap);
    /*uses media query */
}

.paint__canvas {
    aspect-ratio: 16 / 9;
    border: var(--primary-border);
    border-radius: var(--primary-border-radius);
    box-shadow: var(--primary-box-shadow);
    width: var(--canvas-width);
    height: auto;
    flex-grow: 0;
}

.paint__toolbar {
    align-items: center;
    background-color: var(--div-background-color);
    border: var(--primary-border);
    border-radius: var(--primary-border-radius);
    box-shadow: var(--primary-box-shadow);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: fit-content;
    gap: 6vw;
    justify-content: space-evenly; /*Space-between DESKPTOP */
    width: var(--canvas-width);
    padding: var(--primary-padding); /* MOBILE */
    /*uses media query */
}

/* ===== ROOM SETTINGS ===== */
.header__icons{
    display: flex;
    flex-direction: row;
    gap: 8px;/*16px; DESKTOP */
}

.header__icon-btn{
    align-items: center;
    aspect-ratio: 1/1;
    background-color: var(--div-background-color);
    border: 2px solid #D7DEE8;
    border-radius: 8px;
    box-shadow: var(--primary-box-shadow);
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 35px; /* 45px*/
    cursor: pointer;
}

.header__icon-btn--trash:is(:hover, :focus-visible){
    background: #FEF2F2;
    border-color: #EF4444;
}

.header__icon-btn--homepage:is(:hover, :focus-visible) {
    background: #EFF6FF;
    border-color: #3B82F6;
}

.header__icon-btn--save:is(:hover, :focus-visible) {
    background: #F0FDF4;
    border-color: #22C55E;
}

/* ===== CHAT ===== */
.chat{
    background-color: var(--div-background-color);
    border: var(--primary-border);
    border-radius: var(--primary-border-radius);
    box-shadow: var(--primary-box-shadow);
    display: flex;
    flex-direction: column;
    gap: 6px;/*12px;*/
    padding: var(--primary-padding); /*24px; DESKTOP */
    width: var(--canvas-width); /*23vw; DESKTOP*/
    height: 44vh; /*MOBILE */
}

/*mobile */
.chat__header{
    display: flex;
    justify-content: space-between;
}

.chat__status{
    display: flex;
    flex-direction: row;
    align-items: end;
    gap: 8px;
}

.chat__status-dot{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #22c55e;
}

.chat__messages{
    border: 2px solid #CBD5E1;
    background: #F8FAFC;
    border-radius: var(--primary-border-radius);
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 5px; /*10px DESKTOP */
    overflow-y: auto;
    padding: 20px;
    scroll-behavior: smooth;
    width: 100%;
}

.message{
    border-radius: var(--primary-border-radius);
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 70%;
    padding: 12px 14px;
    white-space: pre-wrap;/*used so white space is accurate*/
    font-size: .7rem; /*MOBILE */
}

.messageName{
    font-weight: bold;
    padding-right: 10px;
}

.messageText{
    hyphens: auto;
    overflow-wrap: anywhere;
}

.senderMessage{
    align-self: flex-end;
    background-color: var(--you-player-background);
    color: var(--you-player-text-color);
    hyphens: auto;
    overflow-wrap: anywhere;
}

.receiverMessage{
    align-self: flex-start;
    background: var(--other-player-background-color);
    color: var(--other-player-text-color);
    border: 1px solid #e2e8f0;
}

.chat__players{
    border-radius: var(--primary-border-radius);
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 8%;/*6vh; DESKTOP */
}

.player-card{
    background: var(--other-player-background-color);
    color: var(--other-player-text-color);
    border-radius: var(--primary-border-radius);
    border: var(--primary-border);
    display: grid;
    flex: 1;
    padding: 5px;
    place-items: center;
    font-weight: 600;
    font-size: .7rem;/* MOBILE */
}

.player-card--you{
    background: var(--you-player-background);
    color: var(--you-player-text-color);
}

.chat__form{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.chat__input{
    border: 2px solid #e5e7eb;
    border-radius: var(--primary-border-radius);
    flex: 1;
    font-size: 12px; /*14px;*/
    padding: 8px;/*12px;*/
}

.chat__send-btn{
    background: #2ea44f;
    border: none;
    border-radius: var(--primary-border-radius);
    color: white;
    cursor: pointer;
    font-size: 12px; /*16px;*/
    font-weight: 600;
    padding: 8px; /*14px 18px;*/
    transition: box-shadow 0.2s;
}

.chat__input:hover{
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
}

/* ===== COLOR SELECTION ===== */
.paint__color-picker{
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;/*45%; desktop*/
    padding: 0px; /*padding: 0 24px;*/
}

.paint__color-choices{
    width: 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.paint__palette {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(10, 1fr);
    width: 80%;
}

.paint__swatch{
    appearance: none;
    -webkit-appearance: none;
    background: none;
    aspect-ratio: 1 / 1;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 2px;
}

.paint__swatch-inner{
    aspect-ratio: 1 / 1;
    border-radius: 4px;
    pointer-events: none;
}

:is(.paint__swatch, .paint__choice-swatch):is(:hover, :focus-visible):not(.paint__choice-swatch--selected){
    border-color: #0d8bf3;
    box-shadow: 0 0 6px #0d8bf3;
}

.paint__choice-swatch--selected{
    border-color: #0d5df3;
    box-shadow: 0 0 5px 3px #0d5df3;
}

.paint__choice-swatch{
    appearance: none;
    -webkit-appearance: none;
    background: none;
    aspect-ratio: 1 / 1;
    border: 1px solid gray;
    border-radius: 6px;
    padding: 3px;
    width: 50%;
}

.paint__choice-swatch-inner{
    aspect-ratio: 1 / 1;
    border-radius: 6px;
    pointer-events: none;
}

/* ===== PAINT TOOLS ===== */
.paint__thickness{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 75%;
    width: 100%; /*33%; desktop*/
    padding: 0px;
    /*padding: 0 24px; DESKTOP */
}

.paint__thickness-input{
    width: 100%;
}

.paint__tools{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;/*space-between; DESKTOP*/
    width: 100%; /*22% desktop */;
    padding: 0px;
    /*padding: 0 1.2vw; DESKTOP */
}

.paint__tool{
    appearance: none;
    -webkit-appearance: none;
    background: none;
    border: none;
    padding: 0;
    height:auto;
    width: 8%; /*23%; desktop*/
}

.paint__tools-img{
    aspect-ratio: 1 / 1;
    width: 100%;
}

.paint__canvas--brush {
    cursor: crosshair;
}

.paint__canvas--pan-zoom{
    cursor: all-scroll;
}

.paint__tool {
    position: relative;
}

.paint__tool--selected::before {
    border-radius: 30px;
    box-shadow: 0 0 5px 5px  rgb(32, 104, 187);
    content: "";
    inset: -20%;
    pointer-events: none;
    position: absolute;
}

/* ===== MISC / UTILITY CLASSES ===== */
.header__title{
    text-align: center;
}

.subtitle {
    color: #6b7280;
    font-size: 14px;
    margin-top: 4px;
}

.height-to-75{
    height: 75%;
}

@media (min-width: 540px) and (orientation: portrait){
    :root{
        --primary-padding: 16px;
    }
}


@media (min-width: 768px) and (orientation: portrait) {
    :root{
        --primary-padding: 24px;
        --primary-gap: 24px;
    }

    h1{
        font-size: revert;
    }

    h2{
        font-size: revert;
    }

    label{
        font-size: revert;
    }

    .chat{
        gap: 12px;
    }

    .player-card{
        font-size: revert;
    }

    .chat__send-btn{
        font-size: 16px;
        padding: 14px 18px;
    }

    .header__icon-btn{
        width: 45px;
    }
}

@media (min-width: 1024px) {
    :root{
        --primary-gap: 24px;
        --primary-padding: 24px;
    }

    .chat{
        gap: 12px;
    }

    h1{
        font-size: revert;
    }

    h2{
        font-size: revert;
    }

    label{
        font-size: revert;
    }

    .paint__thickness{
        height: revert;
    }

    .header__icon-btn{
        width: 45px;
    }

    .header{
        padding: var(--primary-padding) 0 calc(var(--primary-padding) - var(--primary-gap));
    }

    .chat__send-btn{
        font-size: 16px;
        padding: 14px 18px;
    }

    .chat__players{
        height: 60px;
    }

    .player-card{
        font-size: revert;
    }

    .chat{
        height: 60vh;
    }
}

@media (orientation: landscape) {
    :root{
        --canvas-width: 60vw;
    }

    .header{
        width: auto;
    }

    .app-layout{
        justify-content: center; /* MOBILE */
        align-items: normal;/*to get header to stretch*/
        min-height: 0;
        padding: 0;
    }

    .app-layout__middle{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap : var(--primary-gap);
        height: calc( var(--paint-options-height) + var(--primary-gap) + var(--canvas-height) ); /* Canvas height + gap + Options height DESKTOP*/
    }

    .paint{
        display: flex;
        flex-direction: column;/*CHECK*/
        gap: var(--primary-gap);
        align-items: center;
    }

    .paint__toolbar {
        flex-direction: row;
        flex-grow: 0;
        height: var(--paint-options-height);
        padding: 0;
        gap: 0;
        justify-content: space-between;
    }

    .chat{
        width: 30vw;/*23vw before */
        height: 100%; /*For some reason if you put 100% it doesnt work well*/
    }

    .paint__thickness{
        border-right: 2px solid rgba(15, 23, 42, 0.08);
        border-left: 2px solid rgba(15, 23, 42, 0.08);
    }

    .paint__color-picker{
        width: 45%;
    }

    .paint__thickness{
        width: 33%;
    }

    .paint__tools{
        justify-content: space-between;
        width: 22%;
    }

    .paint__tools,
    .paint__thickness,
    .paint__color-picker{
        padding: 0 6px;
    }

    .paint__tool{
        width: 23%;
    }

    .paint__palette{
        align-self: center;
    }

    .paint__color-picker,
    .paint__thickness,
    .paint__tools {
        height: 75%;
    }

    .paint__tool--selected::before {
        border-radius: 30px;
        inset: -5% -18%;
    }

    .paint__tool:is(:hover, :focus-visible):not(.paint__tool--selected,.paint__tool--disabled)::before {
        box-shadow: 0 0 5px 5px rgb(32 104 187 / 0.5);
        content: "";
        pointer-events: none;
        position: absolute;
        border-radius: 30px;
        inset: -5% -18%;
    }

    .paint__tool--disabled{
        cursor: not-allowed;
    }

    .paint__tool--disabled:is(:hover, :focus-visible)::before{
        box-shadow: 0 0 5px 5px rgb(255 0 0 / 0.5);
        content: "";
        pointer-events: none;
        position: absolute;
        border-radius: 30px;
        inset: -5% -18%;
    }

    .chat__header{
        flex-direction: column;
    }
}

@media(min-width: 1536px) and (orientation: landscape) {

    :root{
        --header-padding: calc(var(--primary-padding) * 2/3);
        --canvas-width: 55vw;
    }

    html::before{
        background-image: url("../img/splotch_blue.svg"), url("../img/splotch_red.svg");
        background-position: -350px -200px, 1400px 200px;
        background-repeat: no-repeat;
        background-size: 60%;

        content: "";
        position: fixed;
        inset: 0;

        opacity: 0.7;
        pointer-events: none;
        z-index: -1;
    }

    body {
        width: 85vw;

        /*
        background-image: url("../img/splotch_blue.svg"), url("../img/splotch_red.svg");
        background-position: -250px -200px, 1100px 200px;
        background-repeat: no-repeat;
        background-size: 60%;*/
    }

    .paint__tools,
    .paint__thickness,
    .paint__color-picker {
        padding: 0 24px;
    }

    .message {
        font-size: revert;
    }

    .chat__messages {
        gap: 10px;
    }

    .chat {
        width: 23vw;
    }

    .header {
        background-color: var(--div-background-color);
        border: var(--primary-border);
        border-radius: var(--primary-border-radius);
        box-shadow: var(--primary-box-shadow);
        padding: var(--primary-padding);

    }

}