@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root{
    --primary-border-radius: 12px;
    --primary-border: 2px solid #CAD6E3;
    --primary-box-shadow: 0 0 20px rgba(0,0,0,.08);
    --div-background-color: #fafafa;
    --primary-gap: 24px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', 'Times New Roman';
}

html{
    background-color: antiquewhite;
}

body {
    /*border: 2px solid black;*/
    width: 90vw;
    height: 100vh;
    margin: auto;
    background-color: #F6F7FA;

    box-shadow: var(--primary-box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    text-align: center;
}

.subtitle {
    font-size: 14px;
    color: #6b7280;
    margin-top: 4px;
}

.layout{
    /*border: 2px solid #CAD6E3;*/
    display: flex;
    flex-direction: column;
    gap: var(--primary-gap);
}

.header{
    background-color: var(--div-background-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: var(--primary-border);
    padding: 16px;
    border-radius: var(--primary-border-radius);
    box-shadow: var(--primary-box-shadow);
}

.middleContainer{
    /*border: 2px solid #CAD6E3;*/
    display: flex;
    flex-direction: row;
    gap : var(--primary-gap);
    justify-content: center;
    height: calc((60vw * (9/16) / 4.7) + 24px + (60vw * (9/16))) /* Canvas height + gap + Options height*/
}

.paintContainer{
    display: flex;
    flex-direction: column;
    gap: var(--primary-gap);
}

#canvas {
    aspect-ratio: 16 / 9;
    width: 60vw;
    border: var(--primary-border);
    border-radius: var(--primary-border-radius);
    box-shadow: var(--primary-box-shadow);
}

.options {
    background-color: var(--div-background-color);
    border: var(--primary-border);
    border-radius: var(--primary-border-radius);
    width: 60vw;
    height: calc(60vw * (9/16) / 4.7);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    box-shadow: var(--primary-border-radius);
}

.chat{
    background-color: var(--div-background-color);
    border: var(--primary-border);
    width: 23vw;
    border-radius: var(--primary-border-radius);
    box-shadow: var(--primary-box-shadow);
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 24px;
}

.messagesContainer{
    display: flex;
    flex-direction: column;
    flex: 1;

    gap: 10px;
    overflow-y: auto;
    border-radius: var(--primary-border-radius);
    padding: 10px;
    scroll-behavior: smooth;
    border: 2px solid #CBD5E1;
    width: 100%;
}

.message{
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: var(--primary-border-radius);
    max-width: 70%;
    white-space: pre-wrap;/*used so white space is accurate*/
}

.messageName{
    font-weight: bold;
    padding-right: 10px;
}

.messageText{
    flex: 1;
    overflow-wrap: anywhere;
}

.senderMessage{
    background-color: #2563EB;
    color: white;
    align-self: flex-end;
    overflow-wrap: anywhere;
}

.receiverMessage{
    background: #94A3B8;
    color: #111827;
    align-self: flex-start;
}

.players{
    display: flex;
    flex-direction: row;
    height: 6vh;
    border: 2px solid #CAD6E3;
    border-radius: var(--primary-border-radius);
    gap: 10px;
}

.playerCard{
    border-radius: var(--primary-border-radius);
    background: #94A3B8;
    padding: 5px;
    display: grid;
    place-items: center;
    color: white;
    flex: 1;
}

.playerCard.you{
    background: #2563EB;
}

.createMessage{
    display: flex;
    flex-direction: row;
}

.createMessage input{
    border: 2px solid #e5e7eb;
    border-radius: var(--primary-border-radius);
    font-size: 14px;
    padding: 12px;
    flex: 1;
}

.createMessage button{
    background: #2ea44f;
    color: white;
    padding: 14px;
    border: none;
    border-radius: var(--primary-border-radius);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

.createMessage button:hover{
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
}

.colors {
    width: 35%;
    /*border: 2px solid blue;*/
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 4px;
}

.thickness{
    /*border: 2px solid green;*/
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type="range"]{
    width: 100%;
}

.colors > div{   
    aspect-ratio: 1 / 1;
    padding: 2px;
    border: 1px solid gray;
    border-radius: 4px;
    /*background-color: white;*/
}

.colors > div > div{
    border-radius: 4px;
    aspect-ratio: 1 / 1;
    pointer-events: none;
}

.colors > div:hover{
    border-color: #0d8bf3; 
    box-shadow: 0 0 6px #0d8bf3;
}

.choices > div.selected{
    border-color: #0d5df3; 
    box-shadow: 0 0 5px 3px #0d5df3;  
}

.zoom{
    height:auto;
    width: 4%;
}
.bucket{
    height:auto;
    width: 4%;
}
.brush{
    height:auto;
    width: 4%;
}
.icons{
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.icons button{
    cursor: pointer;
}
.trash{
    width: 45px;
    aspect-ratio: 1/1;
    padding: 5px;
    border: 2px solid #D7DEE8;
    border-radius: 8px;
    box-shadow: var(--primary-box-shadow);
    background-color: var(--div-background-color);

    display: flex;
    align-items: center;
    justify-content: center;
}

.trash:hover{
    border-color: #EF4444;
    background: #FEF2F2;
}
.homePage{
    width: 45px;
    aspect-ratio: 1/1;
    padding: 5px;
    border: 2px solid #D7DEE8;
    border-radius: 8px;
    box-shadow: var(--primary-box-shadow);
    background-color: var(--div-background-color);

    display: flex;
    align-items: center;
    justify-content: center;
}
.homePage:hover {
    border-color: #3B82F6;
    background: #EFF6FF;
}
.save{
    width: 45px;
    aspect-ratio: 1/1;
    padding: 5px;
    border: 2px solid #D7DEE8;
    border-radius: 8px;
    box-shadow: var(--primary-box-shadow);
    background-color: var(--div-background-color);

    display: flex;
    align-items: center;
    justify-content: center;
}
.save:hover {
    border-color: #22C55E;
    background: #F0FDF4;
}
.options img{
    aspect-ratio: 1 / 1;
    width:100%;
}

.optionBrush {
    cursor: crosshair;
}

.optionPanZoom{
    cursor: all-scroll;
}

.options > .selected {
  position: relative;
}

.options > .selected::before {
  content: "";
  position: absolute;
  inset: -8px;              
  box-shadow: 0 0 5px 5px  rgb(32, 104, 187);
  border-radius: 30px;       
  pointer-events: none;      
}

.choices{
    display: flex;
    flex-direction: row;
    width: 10%;
}

.choices > div{
    aspect-ratio: 1 / 1;
    padding: 3px;
    margin: 2px;
    border: 1px solid gray;
    width: 100%;
    border-radius: 6px;
}

.choices > div > div{
    border-radius: 6px;
    aspect-ratio: 1 / 1;
    pointer-events: none;
}